<footer>
    {% set footerLogo = craft.entries().section('footer').slug('footerLogo').one() %}
    {% set footerFederaties = craft.entries().section('footer').slug('footerFederaties').one() %}
    {% set footerGegevens = craft.entries().section('footer').slug('footerGegevens').one() %}
    {% set footerSocials = craft.entries().section('footer').slug('footerSocials').one() %}

{#    {% set logo =  footerLogo.foto.one() %}#}
    {{ dump(footerLogo) }}
    {{ dump(footerFederaties) }}3
    {{ dump(footerGegevens) }}
    {{ dump(footerSocials) }}

    <section class="gegevensfooter row justify-content-between">
        <div class="lijn">
            {% if footerLogo %}
                {% set logo = footerLogo.foto.one() %}
                {% if logo %}
                    <img src="{{ logo.url }}" alt="{{ footerLogo.title }}">
                {% else %}
                    <p>Logo niet gevonden.</p>
                {% endif %}
            {% else %}
                <p>Footer logo entry niet gevonden.</p>
            {% endif %}
        </div>
        <div class="lijn">
            {% if footerFederaties %}
                <p><b>{{ footerFederaties.uitleg }}</b></p>
                <a href="{{ footerFederaties.navigatielink }}" target="_blank">{{ footerFederaties.titelH2 }}</a>
                <a href="{{ footerFederaties.navigatielink2 }}" target="_blank">{{ footerFederaties.titelH22 }}</a>
            {% else %}
                <p>Footer federaties entry niet gevonden.</p>
            {% endif %}
        </div>

{#        <div class="lijn">#}
{#            <div class="gegevensmeticonen"><img src="static/assets/icon%20_home_.png" alt="icon">#}
{#                <p>Eikenstraat 25<br>3740 Bilzen</p></div>#}
{#            <div class="gegevensmeticonen"><img src="static/assets/icon%20_envelope%20closed_.png" alt="icon">#}
{#                <p>email@email.com</p></div>#}
{#            <div class="gegevensmeticonen"><img src="static/assets/icon%20_phone_.png" alt="icon">#}
{#                <p>+32 456 78 91</p></div>#}
{#        </div>#}
{#        <div>#}
{#            <img src="static/assets/icon%20_web_.png" alt="icon">#}
{#            <div class="socialsfooter">#}
{#                <a href="https://www.facebook.com/DuikclubDolfijn/" target="_blank"><img src="static/assets/icon%20_facebook_.png" alt="icon"></a>#}
{#                <a href="#"><img src="static/assets/icon%20_instagram%20alt_.png" alt="icon"></a>#}
{#                <a href="#"><img src="static/assets/icon%20_social%20linkedin_.png" alt="icon"></a>#}
{#            </div>#}
{#        </div>#}
{#    </section>#}
{#    <section class="balkfooter">#}
{#        <a href="#">Regelement</a>#}
{#        <a href="#">Algemene gebruiksvoorwaarden</a>#}
{#        <a href="#">privacyverklaring</a>#}
    </section>
</footer>