<nav>
    <div id="groot_menu">
        {% set menuitems = craft.navigate.raw('navigationLoggedin') %}
        {% for item in menuitems %}
            {% if item.name == 'Home' %}
                {% set homeLink = item.url %}
                <a class="navlogo" href="{{ homeLink }}">
                    {% set logo = craft.assets()
                        .volume('logos')
                        .filename('Dolfijn_full-1.png')
                        .one() %}
                    <img src="{{ logo.url }}" alt="{{ logo.title }}">
                </a>
            {% endif %}
        {% endfor %}
        <div class="menu-items">
            {% set menuitems = craft.navigate.raw('navigationLoggedin') %}
            {% set menuitemsWithoutFirst = menuitems | slice(1) %}
            {% for item in menuitemsWithoutFirst %}
                <a href="{{ item.url }}">{{ item.name }}</a>
            {% endfor %}
        </div>
    </div>
    <div id="hamburger">
        <div id="nav_balk">
            {% set menuitems = craft.navigate.raw('navigationLoggedin') %}
            {% for item in menuitems %}
                {% if item.name == 'Home' %}
                    {% set homeLink = item.url %}
                    <a class="navlogo" href="{{ homeLink }}">
                        {% set logo = craft.assets()
                            .volume('logos')
                            .filename('Dolfijn_full-1.png')
                            .one() %}
                        <img src="{{ logo.url }}" alt="{{ logo.title }}">
                    </a>
                {% endif %}
            {% endfor %}
            {% set hamburger = craft.assets()
                .volume('logos')
                .filename('Menu-Line-1-Streamline-Micro.png')
                .one() %}
            <img id="menu_open" src="{{ hamburger.url }}" alt="{{ hamburger.title }}">
        </div>
        <div id="uitklap">
            <div>
                {% set menuitems = craft.navigate.raw('navigationLoggedin') %}
                {% for item in menuitems %}
                    {% if item.name == 'Home' %}
                        {% set homeLink = item.url %}
                        <a href="{{ homeLink }}">
                            {% set logo = craft.assets()
                                .volume('logos')
                                .filename('Dolfijn_full-1.png')
                                .one() %}
                            <img src="{{ logo.url }}" alt="{{ logo.title }}">
                        </a>
                    {% endif %}
                {% endfor %}
                {% set close = craft.assets()
                    .volume('logos')
                    .filename('Close-Streamline-Ultimate.png')
                    .one() %}
                <img src="{{ close.url }}" alt="{{ close.title }}">
            </div>
            <div class="menu-items-burger">
                {% set menuitems = craft.navigate.raw('navigationLoggedin') %}
                {% for item in menuitems %}
                    <a href="{{ item.url }}">{{ item.name }}</a>
                {% endfor %}
            </div>
        </div>
    </div>
</nav>
