{% extends '_snippets/_head.twig' %}

{% block content %}
    <main>
        <section id="contactformulier" class="my-5 align-content-center text-center">
            <h1>{{ entry.titelH1 }}</h1>
            <form method="post" action="mailto:">
                <label for="voornaam">Voornaam<span class="rood">*</span></label>
                <br>
                <input type="text" name="voornaam" id="voornaam" required>
                <br>
                <label for="naam">Naam<span class="rood">*</span></label>
                <br>
                <input type="text" name="naam" id="naam" required>
                <br>
                <label for="email">E-mail<span class="rood">*</span></label>
                <br>
                <input type="email" name="email" id="email" required>
                <br>
                <label for="bericht">Je boodschap<span class="rood">*</span></label>
                <br>
                <textarea name="bericht" id="bericht" required></textarea>
                <br>
                <input type="checkbox" name="privacy" id="privacy" class="checkbox" required>
                <label for="privacy" id="privacy-label">*Ik heb het privacybeleid, de servicevoorwaarden en de
                    communityrichtlijnen gelezen en ga ermee akkoord.</label>
                <br>
                <button type="submit">Verzenden</button>
            </form>
        </section>
        <section class="row my-5">
            <div class="col-12 col-md-6">
                <h2>{{ entry.titelH2 }}</h2>
                {{ entry.inleidendeTekstHome }}
                <a href="{{ entry.eMail }}">{{ entry.eMail|replace({'mailto:': ''}) }}</a>
            </div>
            <div class="col-12 col-md-6">
                <iframe src="{{ entry.googleMapsLink }}" width="100%" height="300px" style="border:0;"
                        allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </section>
    </main>
{% endblock %}