{% extends '_snippets/_head.twig' %}

{% block content %}

    <main>
        <header class="header1 row">
            <div class="tekst col-12 col-lg-7 col-xl-8">
                <h1>{{ entry.titelH1 }}</h1>
                {{ entry.inleidendeTekstHome }}
            </div>
            <div class="fotos col-12 col-lg-5 col-xl-4">
                {% set foto1 = entry.foto.one() %}
                {% set foto2 = entry.foto2.one() %}
                <img src="{{ foto1.url('horizontaal') }}" alt="{{ foto1.title }}">
                <img src="{{ foto2.url('verticaal') }}" alt="{{ foto2.title }}">
            </div>
        </header>
        {% set locaties = craft.entries.section('locaties').all() %}
        {% for locatie in locaties %}
            {% include '_snippets/_locaties.twig' %}
        {% endfor %}
    </main>
{% endblock %}