{% extends '_snippets/_head.twig' %}

{% block content %}
<header class="header2 row">
    <div class="fotos col-12 col-md-4">
        {% set foto1= entry.foto.one() %}
        <img src="{{ foto1.url('verticaal') }}" alt="{{ foto1.title }}">

        {% set foto2= entry.foto2.one() %}
        <img src="{{ foto2.url('horizontaal') }}" alt="{{ foto2.title }}">
    </div>
    <div class="tekst col-12 col-md-8">
        <h1>{{ entry.titelH1 }}</h1>
        {{ entry.inleidendeTekstHome }}
    </div>
</header>
<main>
    <section id="meer-info-over-duiken">
        <h2>{{ entry.titelH2 }}</h2>
        <div id="meer-info-bollen">
            {% set menuitems = craft.navigate.raw('duiken') %}
            {% for item in menuitems %}
            <a href="{{ item.url }}">
                <div class="bol">
                    <h3>{{ item.name }}</h3>
                </div>
            </a>
            {% endfor %}
        </div>
    </section>
</main>
{% endblock %}