{% extends '_snippets/_head.twig' %}

{% block content %}

    {% set homeImage = entry.homeImage.one() %}
    <div id="header-home" style="background-image:url('{{ homeImage.url }}')">
        <h1>{{ entry.titelH1 }}</h1>
    </div>

    <main>
        <section id="welkomhome" class="row">
            <div class="tekst col-12 col-lg-7 col-xl-8">
                <h2>{{ entry.titelH2 }}</h2>
                <p>{{ entry.inleidendeTekstHome }}</p>
                <a href="{{ initiatieLes.url }}">
                    <button>{{ "Gratis initiatie" }}</button>
                </a>
            </div>
            <div class="fotos col-12 col-lg-5 col-xl-4">
                {% set foto1 = entry.foto.one() %}
                {% set foto2 = entry.foto2.one() %}
                {% set foto3 = entry.foto3.one() %}
                <img class="foto-top" src="{{ foto1.url('square') }}" alt="foto">
                <img class="foto-mid" src="{{ foto2.url('verticaal') }}" alt="foto">
                <img class="foto-bot" src="{{ foto3.url('horizontaal') }}" alt="foto">
            </div>
        </section>

        <section id="aanbodhome">
            <h2>{{ entry.titelH22 }}</h2>
            {% set initiatieBTN = entry.achtergrondInitiatie.one() %}
            {% set clubduikenBTN = entry.achtergrondClubduiken.one() %}
            {% set trainingBTN = entry.achtergrondTrainingen.one() %}
            <div class="row mx-auto justify-content-between text-center">
                <a href="{{ initiatieLes.url }}" class="hover-background col-12 col-md-4" data-bg-url="{{ initiatieBTN.url }}">
                    <button class="text-center">{{ entry.titelH31 }}</button>
                </a>
                <a href="{{ initiatieLes.url }}" class="hover-background col-12 col-md-4" data-bg-url="{{ clubduikenBTN.url }}">
                    <button class="text-center">{{ entry.titelH32 }}</button>
                </a>
                <a href="{{ initiatieLes.url }}" class="hover-background col-12 col-md-4" data-bg-url="{{ trainingBTN.url }}">
                    <button class="text-center">{{ entry.titelH33 }}</button>
                </a>
            </div>
        </section>

        <section class="federaties">
            <h2>{{ entry.titelH23 }}</h2>
            {% set federaties = craft.entries.section('federaties').all() %}
            <div class="row justify-content-between">
            {% for federatie in federaties %}
                {% include '_snippets/_federaties.twig' %}
            {% endfor %}
            </div>
        </section>
    </main>

{% endblock %}
