{% extends '_snippets/_head.twig' %}

{% block content %}
        <main id="initiatie-main" class="container">

                <h1>{{ entry.titelH1 }}</h1>
                {{ entry.inleidendeTekstHome }}


            <section class="row justify-content-center my-5">
                <div class="fotos col-12 col-md-6">
                        {% if entry.foto|length %}
                            {% set foto1 = entry.foto.one() %}
                            <img src="{{ foto1.url('verticaal') }}" alt="{{ foto1.title }}">
                        {% endif %}

                        {% if entry.foto2|length %}
                            {% set foto2 = entry.foto2.one() %}
                            <img src="{{ foto2.url('horizontaal') }}" alt="{{ foto2.title }}">
                        {% endif %}

                        {% if entry.foto3|length %}
                            {% set foto3 = entry.foto3.one() %}
                            <img src="{{ foto3.url('horizontaal') }}" alt="{{ foto3.title }}">
                        {% endif %}
                </div>
                <div class="tekst col-12 col-md-5">
                    <h2>{{ entry.titelH2 }}</h2>
                    {{ entry.uitleg1 }}

                    {% set knop1 = entry.knop.one() %}
                    <a href="{{ knop1.knopLinktNaar }}">
                        <button>{{ knop1.title }}</button>
                    </a>
                </div>
            </section>

            <section class="text-center">
                <h2>{{entry.titelH22}}</h2>
                {{ entry.uitleg2 }}

                {% include '_snippets/_initiatieform.twig' %}

            </section>
        </main>
{% endblock %}


