{% extends '_snippets/_head.twig' %}

{% block content %}
    <header id="over_overons" class="header1 row">
        <div class="tekst col-12 col-lg-7 col-xl-8">
            <h1>{{ entry.titelH1 }}</h1>
            {{ entry.inleidendeTekstHome }}
        </div>
        <div class="fotos col-12 col-lg-5 col-xl-4">
            {% set headerImg1 = entry.foto.one() %}
            {% set headerImg2 = entry.foto2.one() %}
            <img src="{{ headerImg1.url('horizontaal') }}" alt="foto">
            <img src="{{ headerImg2.url('verticaal') }}" alt="foto">
        </div>
    </header>
    <main>

        {% include '_snippets/_bestuur.twig' %}

        {% set knop = entry.knop.one() %}
        <div class="row text-center mt-2">
            <a href="{{ knop.knopLinktNaar }}">
                <button>{{ knop.title }}</button>
            </a>
        </div>

        <section id="watdoenwij">
            <h2>{{ entry.titelH22 }}</h2>
            {% set activiteiten = craft.entries().section('watDoenWij').orderBy('postDate').all() %}
            {% for activiteit in activiteiten %}
                {% if loop.index is odd %}
                    <div class="row justify-content-center">
                        <div class="tekstlinks col-6">
                            <h3>{{ activiteit.title }}</h3>
                            {{ activiteit.inleidendeTekstHome }}
                            <a href="{{ activiteit.knop.one().url }}" target="_blank">
                                <button>{{ activiteit.knop.one().title }}</button>
                            </a>
                        </div>
                        <div class="fotos col-4">
                            {% if activiteit.foto|length %}
                                {% set foto1 = activiteit.foto.one() %}
                                <img src="{{ foto1.url('horizontaal') }}" alt="{{ foto1.title }}">
                            {% endif %}
                            {% if activiteit.foto2|length %}
                                {% set foto2 = activiteit.foto2.one() %}
                                <img src="{{ foto2.url('horizontaal') }}" alt="{{ foto2.title }}">
                            {% endif %}
                            {% if activiteit.foto3|length %}
                                {% set foto3 = activiteit.foto3.one() %}
                                <img src="{{ foto3.url('verticaal') }}" alt="{{ foto3.title }}">
                            {% endif %}
                        </div>
                    </div>
                {% else %}
                    <div class="row">
                        <div class="fotosleft col-6">
                            {% if activiteit.foto|length %}
                                {% set foto1 = activiteit.foto.one() %}
                                <img src="{{ foto1.url('verticaal') }}" alt="{{ foto1.title }}">
                            {% endif %}
                            {% if activiteit.foto2|length %}
                                {% set foto2 = activiteit.foto2.one() %}
                                <img src="{{ foto2.url('horizontaal') }}" alt="{{ foto2.title }}">
                            {% endif %}
                            {% if activiteit.foto2|length %}
                                {% set foto3 = activiteit.foto2.one() %}
                                <img src="{{ foto3.url('horizontaal') }}" alt="{{ foto3.title }}">
                            {% endif %}
                        </div>
                        <div class="tekstrechts col-6">
                            <h3>{{ activiteit.title }}</h3>
                            {{ activiteit.inleidendeTekstHome }}
                            <a href="{{ activiteit.knop.one().url }}">
                                <button>{{ activiteit.knop.one().title }}</button>
                            </a>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </section>


        {% include '_snippets/_federaties.twig' %}

        <section id="kaartoverons">
            <h2>{{ entry.titelH23 }}</h2>
        </section>
    </main>
    <iframe src="{{ entry.googleMapsLink }}" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

{% endblock %}