{% extends '_snippets/_head.twig' %}

{% block content %}

    <main id="prijzen-main">
        <h1>{{ entry.titelH1 }}</h1>
        <section id="lidgeld">
            <h2>{{ entry.titelH2 }}</h2>
            {{ entry.inleidendeTekstHome }}
        </section>
        <section id="duikmateriaal">
            <h2>{{ entry.titelH22 }}</h2>
            <div id="indoor">
                <div id="indoor-foto">
                    <div id="indoor-foto1">
                        {% if entry.foto|length %}
                            {% set foto1= entry.foto.one() %}
                            <img src="{{ foto1.url('horizontaal') }}" alt="{{ foto1.title }}">
                        {% endif %}
                    </div>
                    <div id="indoor-foto2">
                        {% if entry.foto2|length %}
                            {% set foto2= entry.foto2.one() %}
                            <img src="{{ foto2.url('verticaal') }}" alt="{{ foto2.title }}">
                        {% endif %}
                    </div>
                </div>
                <div id="indoor-tekst">
                    <h3>{{ entry.titelH31 }}</h3>
                    {{ entry.uitleg1 }}
                </div>
            </div>
            <div id="outdoor">
                <div id="outdoor-tekst">
                    <h3>{{ entry.titelH32 }}</h3>
                    {{ entry.uitleg2 }}
                </div>
                <div id="outdoor-foto">
                    <div id="outdoor-foto1">
                        {% if entry.foto3|length %}
                            {% set foto3 = entry.foto3.one() %}
                            <img src="{{ foto3.url('horizontaal') }}" alt="{{ foto3.title }}">
                        {% endif %}
                    </div>
                    <div id="outdoor-foto2">
                        {% if entry.foto4|length %}
                            {% set foto4 = entry.foto4.one() %}
                            <img src="{{ foto4.url('verticaal') }}" alt="{{ foto4.title }}">
                        {% endif %}
                    </div>
                    <div id="outdoor-foto3">
                        {% if entry.foto5|length %}
                            {% set foto5 = entry.foto5.one() %}
                            <img src="{{ foto5.url('horizontaal') }}" alt="{{ entry.title }}">
                        {% endif %}
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}